<!-- /templates/pages.templates.liquid -->

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="grid-uniform">

<div class="grid__item contained text-center">

  <div class="featuredTestimonial">
    {% for article in blogs.testimonials.articles %}
      {% if article.tags contains "Featured" %}
      <h1>Testimonials</h1>

        <figure>
          <img src="{{ article | img_url: 'medium' }}" />
        </figure>
        <h2 class="subHeader">{{ article.title }}</h2>
        {{ article.excerpt }}
      {% endif %}
    {% endfor %}
  </div>

  <div class="testimonialList large--hide">
    {% for article in blogs.testimonials.articles limit: 4 %}
      {% unless article.tags contains "Featured" %}
        <div class="testimonial">
          <figure>
            <img src="{{ article | img_url: 'medium' }}" />
          </figure>
          <h2 class="subHeader">{{ article.title }}</h2>
          {{ article.excerpt }}
          {{ article.video }}
          <a href="/{{ article.url }}">Read More</a>
        </div>
      {% endunless %}
    {% endfor %}

    <a href="/blog/testimonials" class="">More Testimonials</a>
  </div>

  <div class="testimonialList medium-down--hide">
    {% for article in blogs.testimonials.articles limit: 7 %}
      {% unless article.tags contains "Featured" %}
        <div class="testimonial">
          <figure>
            <img src="{{ article | img_url: 'medium' }}" />
          </figure>
          <div class="text">
            <h2 class="subHeader">{{ article.title }}</h2>
            {{ article.excerpt }}
            <a href="/{{ article.url }}">Read More</a>
          </div>
        </div>
        {% endunless %}
      {% endfor %}

    <a href="/blog/testimonials" class="">More Testimonials</a>
  </div>

</div>

</div>
